<div class="container p-0">
  <nav class="navbar navbar-light bg-dark-four">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="https://www.4insurance.co.th/4info/img/White-Green.png" alt="" width="150" height="60" class="d-inline-block align-text-top">
      </div>
    </div>
  </nav>
  <div class="col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <h1 class="bd-title  fw-bold lh-1 mb-3 text-center" id="content">{{_dealerName}}</h1>      
      <div class="col-12 col-sm-8 col-lg-6">
        <div class="alert alert-success d-flex align-items-center" role="alert" [ngClass]="{'d-none':_checkAlertUploadFile}">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            ใบเสร็จถูกอัพโหลดไฟล์แล้ว
          </div>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="handleCheckUploadFile()">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-sm p-2">
            <div class="file-drop-area">
              <div class="d-flex flex-column h-100 text-white text-shadow-1">
                <div class="row">
                  <div class="col-lg-12">
                    <span class="choose-file-button fs-6">เลือกไฟล์</span>
                    <span class="file-message fs-6">หรือวางไฟล์ที่นี่ {{_file}}</span>
                    <input class="file-input" type="file" formControlName="file" accept="application/pdf"
                      (change)="uploadFile($event)">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <p class="m-0 text-danger fs-6">*ไฟล์ต้องมีขนาดไม่เกิน 3000 KB</p>
          </div>
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary mt-2 w-100 d-flex justify-content-center"><span
                class="material-symbols-outlined fw-bold me-1">upload</span>อัพโหลดไฟล์</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 lh-1 mb-3">ระบบอัพโหลดใบเสร็จ</h1>
        <p class="lead fs-6">ท่านสามารถอัพโหลดใบเสร็จได้อย่างง่ายดาย
          เครื่องมือของเราจะช่วยท่านในการอัพโหลดใบเสร็จต่าง ๆ ให้สำเร็จ โดยทำได้ดีขึ้น เร็วขึ้น และฉลาดขึ้น.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex align-items-center px-0 border-0">
            <span class="material-symbols-outlined text-warning fw-bold me-1">schedule</span>ลดระยะเวลาในการทำงาน
          </li>
          <li class="list-group-item d-flex align-items-center px-0">
            <span
              class="material-symbols-outlined text-warning fw-bold me-1">database</span>ข้อมูลมีความถูกต้องและแม่นยำ
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
