<div class="container p-0">
  <nav class="navbar navbar-light bg-dark-four">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="https://www.4insurance.co.th/4info/img/White-Green.png" alt="" width="150" height="60" class="d-inline-block align-text-top">
      </div>
    </div>
  </nav>
  <div class="col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-12 col-sm-8 col-lg-6">
        <form [formGroup]="formGroup" (ngSubmit)="handleUploadFle()">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-sm p-2">
            <div class="file-drop-area">
              <div class="d-flex flex-column h-100 text-white text-shadow-1">
                <div class="row">
                  <div class="col-lg-12">
                    <span class="choose-file-button fs-6">เลือกไฟล์</span>
                    <span class="file-message fs-6">หรือวางไฟล์ที่นี่ {{_file}}</span>
                    <input class="file-input" type="file" formControlName="file" accept="application/pdf"
                      (change)="uploadFile($event)">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <p class="m-0 text-danger fs-6">*ไฟล์ต้องมีขนาดไม่เกิน 3000 KB</p>
          </div>
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary mt-2 w-100 d-flex justify-content-center"><span
                class="material-symbols-outlined fw-bold me-1">upload</span>อัพโหลดไฟล์</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">ระบบอัพโหลดใบเสร็จ</h1>
        <p class="lead fs-6">ท่านสามมรถอัพโหลดใบเสร็จได้อย่างง่ายดาย
          เครื่องมือของเราจะช่วยท่านในการอัพโหลดใบเสร็จต่าง ๆ ให้สำเร็จ โดยทำได้ดีขึ้น เร็วขึ้น และฉลาดขึ้น.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex align-items-center px-0 border-0">
            <span class="material-symbols-outlined text-warning fw-bold me-1">schedule</span>ลดระยะเวลาในการทำงาน
          </li>
          <li class="list-group-item d-flex align-items-center px-0">
            <span
              class="material-symbols-outlined text-warning fw-bold me-1">database</span>ข้อมูลมีความถูกต้องและแม่นยำ
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
